*~
.ICEauthority
.Xauthority
.Xilinx/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.digilent_dvctbl.txt
.dmrc
.gitconfig
.java/
.mozilla/
.profile
.viminfo
.vimrc
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xsession-errors
.xsession-errors.old
.yosys_history
.yosys_show.dot
.yosys_show.dot.pid
Xilinx.lic
abc/
bitstreams/
_xmsgs/
*.bld
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pcf
*.srp
*.xrpt
*.xrpt
*.bgn
*.bit
*.drc
*.ncd
*.pad
*.par
*.ptwx
*.unroutes
*.xpi
*.xrpt
*.xwbt
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*.lst
usage_statistics_webtalk.html
webtalk.log
*/xst
*/xlnx_auto_0_xdb
